---
layout: default
title: Eagles Nest
masthead: ./assets/img/eagles.jpg
masthead_class: mast-head
---

<div id="left-text" class="col-sm-2">
    
</div>  

<div id="main-text" class="col-sm-8"> 
    <h1>Eagles</h1>  
    <p>
        The following members of Troop 374 have been awarded the rank of Eagle Scout, the highest rank attainable in Boy Scouts.  
        The title of Eagle Scout is held for life, thus giving rise to the phrase "Once an Eagle, always an Eagle".
    </p>
    <p>
        Requirements include earning at least 21 merit badges and demonstrating Scout Spirit through the Boy Scout Oath and Law, 
        service, and leadership. This includes an extensive 
        service project that the Scout plans, organizes, leads, and manages. Eagle Scouts are presented 
        with a medal and a badge that visibly recognizes the accomplishments of the Scout. Additional recognition 
        can be earned through Eagle Palms, awarded for completing additional tenure, leadership, and merit badge requirements.
    </p><br/>

    {% for item in site.data.eagles_nest %}
    <h3>{{ item.year }}</h3><hr/>  
              
        <div class="row">            
            {% for eagle in item.scouts %}    
                {% assign i = forloop.index0 %}
                {% assign mod = i | modulo:3 %}
                
                {% if i > 0 and mod == 0 %}
                    </div>
                    <br/> 
                    <div class="row">
                {% endif %}    
                
                <div class="col-sm d-flex">                
                    <div>
                        <img src="./assets/img/eagles/{{ eagle.image }}" class="circle" />
                    </div>                
                
                    <p>
                        <b>{{ eagle.name }}</b></br>
                        {{ eagle.date }}
                    </p>
                </div>
            {% endfor %}

            {% assign add = item.scouts.size | modulo:3 | minus: 1 %}
            {% for pad in (1..add) %}
                <div class="col-sm">&nbsp;</div> 
            {% endfor %}

        </div>                
        <br/><br/>
    {% endfor %}         

</div>   

    
<div id="right-text" class="col-sm-2">

</div>