.logo {
    max-height: 10vh;
    width: auto;
}

.bg-header-bar {
  background-color: #005e9d !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.mast-head {
  background-size: cover;
  min-height: 60vh;
  position: relative;
}

.active{
  color: #005e9d !important
}

body {
  font-family: 'Ariel' !important;
}